@use "styles/variables";

.container {
  /* Used normal SCSS due to complexity */

  height: calc(100vh - variables.$headerHeight);
  /* https://stackoverflow.com/questions/10197565/100-height-minus-header */
  /* https://stackoverflow.com/questions/16290873/css3-calc100-88px-not-working-in-chrome/16291105#16291105 */
  height: -o-calc(100vh - variables.$headerHeight); /* opera */
  height: -webkit-calc(100vh - variables.$headerHeight); /* google, safari */
  height: -moz-calc(100vh - variables.$headerHeight); /* firefox */
  display: flex;
  justify-content: center;
  position: relative;
}

.image {
  @apply object-cover w-full
  /* opacity-90 */;
}

.textContainer {
  /* Code referenced from: https://www.w3schools.com/howto/howto_css_image_text.asp */
  @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-center;
}

.titleText {
  @apply text-off-white text-7xl;
}
