.mainContainer {
  @apply flex flex-col w-full;
}

.eventsContainer {
  @apply flex flex-row w-full justify-around pb-10;
}

.button {
  @apply bg-onyx text-off-white px-6 py-3 rounded-3xl font-normal text-lg hover:scale-[1.05] duration-100 hover:shadow;
}

.errorText {
  @apply w-full grid place-items-center text-xl;
}

.navigationContainer {
  @apply grid place-items-center h-full;
}

.navigationButtons {
  @apply h-14 hover:cursor-pointer min-w-[2rem] px-6 max-eventCard:px-0 max-xl:px-3;
}

.imageSliderContainer {
  @apply flex flex-row content-center justify-center w-full;
}

.eventsBannerImage {
  @apply max-h-[35rem] rounded-3xl hover:scale-[1.01] duration-100 hover:shadow-xl;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  max-height: 35rem;
}

.slideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.03);
}

.imageSleepContainer {
  @apply flex flex-row content-center justify-center w-full pb-8 pl-14;
}
