.mainContainer {
  @apply relative flex flex-col justify-center max-w-[60rem] bg-[#E8EFF5]/[.35] py-14 px-14;
}

.picture {
  flex: justify center;
  height: 200px;
  width: 200px;
  border-radius: 150px;
  object-fit: cover;
}
.name {
  @apply text-xl font-semibold pt-2.5;
}

.position {
  @apply text-base capitalize font-medium pt-1 text-gray-500;
}

.links {
  @apply relative flex flex-row max-h-5;
}

.executivesContainer {
  @apply flex flex-row justify-center w-full max-w-[80%] pb-20;
}

.profileContainer {
  @apply flex flex-row justify-around w-full max-w-[80%] pb-20;
}

/*
.mainContainer {
  @apply flex flex-col w-full;
}

.eventsContainer {
  @apply flex flex-row w-full justify-around pb-10;
}

.button {
  @apply bg-onyx text-off-white px-6 py-3 rounded-3xl font-normal text-lg hover:scale-[1.05] duration-100 hover:shadow;
}

.errorText {
  @apply w-full grid place-items-center text-xl;
}

.navigationContainer {
  @apply grid place-items-center h-full;
}

.navigationButtons {
  @apply h-14 hover:cursor-pointer min-w-[1.5rem];
}

.imageSliderContainer {
  @apply flex flex-row content-center justify-around w-full;
}

.eventsBannerImage {
  @apply max-h-[35rem] rounded-3xl hover:scale-[1.01] duration-100 hover:shadow-xl border-onyx border-2;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  max-height: 35rem;
}

.slideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.03);
  max-height: 35rem;
}


*/
