/* https://stackoverflow.com/questions/17598996/sass-use-variables-across-multiple-files */

$headerHeight: 3.75rem;
$footerHeight: 9.375rem;
$footerHeightMobile: 7.5rem;

$yaleBlue: #274c77;

/* Breakpoints based off tailwindcss */
/* max-width breakpoints */
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;
